@model IEnumerable<WardManagementSystem.Data.Models.Domain.Ward>
@{
    Layout = "~/Views/Shared/_layoutConsumables.cshtml";
}
<style>
    .container {
        display: flex;
        align-items: flex-start;
        height: 100vh;
        background-image: url('/snake_icon.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .card {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        justify-content: space-evenly;
        flex: 1;
    }
</style>
<body>
    @if (TempData["msg"] != null)
    {
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            @TempData["msg"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <h1>Dashboard</h1>
    <hr />

    <div class="container">
        @foreach (var item in Model)
        {
            <div class="card">
                <div class="card-title  clickable-row" data-href="@Url.Action("Details", "Consumables", new { Id = item.WardID })">
                    <h2>@item.WardName</h2>
                </div>
            </div>
        }
    </div>

    <a class="btn btn-outline-info" asp-area="" asp-controller="Home" asp-action="Index">
        <h6>Back</h6>
    </a>
</body>