@model WardManagementSystem.Data.Models.ViewModels.PurchaseOrderViewModel
@{
    Layout = "~/Views/Shared/_layoutConsumables.cshtml";
}
<style>
    .container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width: 80%;
        margin: 20px auto;
        background-image: url('~/snake_icon.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .order-form {
        margin-top: 20px;
        padding: 20px;
        border-radius: 5px;
        width: 100%;
    }

    .form-group {
        margin-bottom: 20px;
    }

        .form-group label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

    .button-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }

    .btn {
        padding: 10px 20px;
        border-radius: 5px;
    }
</style>

<div class="container">
    <h1 class="text-lg-center">Purchase Page</h1>
</div>

<div class="container">
    <div class="order-form">
        <form asp-action="Order" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" id="SupplierID" name="SupplierID" asp-for="SupplierID" class="form-control" value="@Model.SupplierID" />
            </div>
            <div class="form-group">
                <input type="hidden" id="ConsumableManagerID" name="ConsumableManagerID" asp-for="ConsumableManagerID" class="form-control" value="@Model.ConsumableManagerID" />
            </div>
            <div class="form-group">
                <label asp-for="WardID">Ward ID</label>
                <input type="hidden" id="WardID" name="WardID" asp-for="WardID" class="form-control" value="@Model.WardID" readonly />
            </div>
            @for (int i = 0; i < Model.ConsumableOrders.Count; i++)
            {
                <div class="consumable-order form-group">
                    <label asp-for="ConsumableOrders[i].ConsumableName">Consumable Name</label>
                    <input asp-for="ConsumableOrders[i].ConsumableName" class="form-control" readonly />
                        <input type="hidden" asp-for="ConsumableOrders[i].ConsumableID" />
                    <label asp-for="ConsumableOrders[i].Quantity">Quantity</label>
                    <input asp-for="ConsumableOrders[i].Quantity" class="form-control" />
                </div>
            }

            <div class="button-container">
                <button class="btn btn-outline-warning" type="submit">Place Order</button>
            </div>
        </form>
    </div>
</div>
