@model WardManagementSystem.Data.Models.Domain.Admission
@{
    Layout = "~/Views/Shared/_LayoutWardAdmin.cshtml";
}

<h2>Update Admission</h2>

<form asp-action="UpdateAdmission" method="post">
    <input type="hidden" asp-for="AdmissionID" />
    <div class="form-group">
        <label asp-for="AdmissionID"></label>
        <input asp-for="AdmissionID" class="form-control" />
        <span asp-validation-for="AdmissionID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <div class="form-group">
            <label>Patient Name</label>
            @Html.DropDownList("PatientID", (SelectList)@ViewBag.SelectList, "-select-", htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label asp-for="AdmissionDate"></label>
        <input asp-for="AdmissionDate" class="form-control" type="date" />
        <span asp-validation-for="AdmissionDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AdmissionReason"></label>
        <textarea asp-for="AdmissionReason" class="form-control"></textarea>
        <span asp-validation-for="AdmissionReason" class="text-danger"></span>
    </div>

    <div class="form-group">
        <div class="form-group">
            <label>Ward Name</label>
            @Html.DropDownList("WardID", (SelectList)@ViewBag.SelectListWard, "-select-", htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="form-group">
            <label>Doctor Name</label>
            @Html.DropDownList("DoctorID", (SelectList)@ViewBag.SelectListDoctor, "-select-", htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label asp-for="AdmissionStatus"></label>
        <select asp-for="AdmissionStatus" class="form-control">
            <option value="Admitted">Admitted</option>
            <option value="Discharged">Discharged</option>
            <option value="Pending">Pending</option>
        </select>
        <span asp-validation-for="AdmissionStatus" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>

